body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
    font-style: italic;
}

main {
    text-align: center;
    margin-top: 20px;
}

button#contact-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button#contact-button:hover {
    background-color: #45a049;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #4CAF50;
}

footer p {
    margin: 5px 0;
}

.contact-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        transition: background-color 0.3s ease;
}

.contact-button:hover {
        background-color: #0056b3;
}

.pdf-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 250px;
}

.card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.download-button, .external-link {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.download-button {
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #0056b3;
}

.external-link {
    color: #007BFF;
}

.external-link:hover {
    text-decoration: underline;
}
